#abilitiesBar {
    width: 50%;
    height: auto;
    background-color: #f1f1f1;
    border: 1px solid #CCC;
    position: absolute;
    top: 70px;
    left: 325px;

    z-index: 2;
}

#abilitiesBarheader {
    padding: 10px;
    cursor: move;
    z-index: 2;
    background-color: #2196F3;
    color: #fff;
}